/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
.center {
    display: block;
    margin: 10px auto;
}

h1 {
    text-align: center;
    background-color: #0b2c61;
    color: white;
    padding: -15px;
}

nav ul {
    list-style-type: none;
    padding: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #003366;
}

nav ul li {
    display: inline;
    padding: 5px;
    margin: 0 21px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 18px;
}


/* News Article Section */
#news {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.news-article {
    margin-bottom: 40px;
}

.news-article h3 {
    color: #0b2c61;
    font-size: 24px;
    margin-bottom: 5px;
}

.news-article p {
    line-height: 1.6;
}

.news-article .read-more {
    color: #0b2c61;
    text-decoration: none;
    font-weight: bold;
}


hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 40px 0;
}
